#amateras_console {
  background-color: #36393f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100vh;
  width: 100%;
  padding: 10;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Microsoft Yahei;
  font-size: 18px;
  overflow-x: hidden;
}

#amateras_console .selector_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#amateras_console .selector_section .selector_block {
  display: block;
  margin: 10px;
  width: 200px;
}

#amateras_console .selector_section .selector_block span {
  color: white;
  display: block;
  margin: 0 0 10;
  font-size: 14px;
  display: block;
}

#amateras_console .selector_section .selector_block select {
  background-color: #36393f;
  color: white;
  padding: 10px;
  border-radius: 25px;
  display: block;
  width: 100%;
}

#amateras_console .selector_section .selector_block select option {
  background-color: #2f3136;
}

#amateras_console button {
  display: inline-block;
  margin: 10 0 10;
  background-color: transparent;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 25px;
  color: white;
  width: 100px;
  cursor: pointer;
}

#amateras_console button:hover {
  background-color: #2f3136;
}

#amateras_console #status {
  color: lime;
  font-size: 12px;
  display: inline-block;
  margin: 0 10;
}

#amateras_console textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #40444b;
  display: block;
}

#amateras_console messages {
  display: block;
  background-color: #36393f;
  color: white;
  height: 1000px;
  overflow-y: scroll;
}

#amateras_console messages::-webkit-scrollbar {
  width: 5px;
  background-color: #202225;
  border-radius: 5px;
}

#amateras_console messages::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

#amateras_console messages message-box {
  display: block;
  padding: 10px;
  position: relative;
}

#amateras_console messages message-box:hover {
  background-color: #2f3136;
}

#amateras_console messages message-box author {
  display: inline-block;
  margin-right: 10px;
}

#amateras_console messages message-box message-content {
  display: inline;
  color: #868c9c;
  word-wrap: break-word;
}

#amateras_console messages message-box object-embed {
  color: white;
  display: inline;
  font-size: 14px;
  padding: 5 10;
  border-radius: 10px;
  background-color: #202225;
}

#amateras_console messages message-box sticker {
  font-size: 14px;
  padding: 5 10;
  border-radius: 10px;
  background-color: #202225;
}

#amateras_console messages message-box attachments {
  display: block;
}

#amateras_console messages message-box attachments attachment {
  font-size: 14px;
  padding: 5 10;
  border-radius: 10px;
  border: 1px solid grey;
  margin: 5px 5px 0;
  display: inline-block;
  color: #868c9c;
  cursor: pointer;
}

#amateras_console messages message-box attachments attachment:hover {
  color: white;
}

#amateras_console messages message-box reply-button {
  position: absolute;
  font-size: 14px;
  z-index: 1;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  background-color: #2f3136;
}

#amateras_console #reply_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10 0;
}

#amateras_console #reply_section span {
  font-size: 12px;
  color: white;
  padding: 2 5;
  border: 1px solid grey;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
}

#amateras_console #reply_section input {
  background-color: #36393f;
  border: 1px solid grey;
  padding: 2px 5px;
  width: 100%;
  color: white;
  border-radius: 10px;
}

body {
  margin: 0;
}
/*# sourceMappingURL=index.css.map */